extends layout

block content
  - var tocPointers = [];
  .jumbotron.wicked-content-title
    .container.wicked-title-container
        h1= title
        if subTitle
            != subTitle

  .container.wicked-container

    if !authUser
      h4 You are not logged in.

      p.
        Your are currently not logged in. Some pages and APIs may be restricted to logged in users.

      a(href='/login?redirect=/content/toc').btn.btn-primary.btn-lg Log in &raquo;

      br
    br
    br

    if (authUser == undefined) 
      each cat, name in toc
          .panel.panel-default
            .panel-heading
              h4.panel-title= cat.name
            .panel-body
              div(style="max-height: 20vh; overflow: auto")
                ul
                  each entry in cat.entries
                    if (entry.title !== 'API Usage Information' && entry.title !==  'Terms and Conditions' && entry.title !==  'API Status Dashboard')
                        li
                          a(href=entry.url)= entry.title
    
    else if (toc) && authUser.admin 
      each cat, name in toc
        .panel.panel-default
          .panel-heading
            h4.panel-title= cat.name
          .panel-body
            style.
              .my-table {
              border-collapse: collapse;
              border-spacing: 22;
              width: 80%;
              border: 1px solid #ddd;
              padding: 40px;
              }
               .myd, .my-row{
              text-align: left ;
              border: 1px solid #ddd;
              padding:10px;
              word-wrap: break-word; 
              }
              th{
                background-color:rgb(240, 240, 240);
                text-align: left ;
                border: 1px solid #ddd;
                padding: 16px; 
              }
              @media(min-width: 100px) and (max-width: 249px){
                 .my-table {
                  display: none;
                 }
              }
               @media(min-width: 250px) and (max-width: 399px){
              .my-table, .my-row{
                display: block;
                width: 30%;

              }
              .my-row{
              margin-bottom:15px;
              width: 30%;
              }
              th{
              margin-bottom:15px;
              width: 35%;
              }
              }
              @media(min-width: 400px) and (max-width: 599px){
              .my-table, .my-row{
                display: block;
                width: 90%;
              }
              .my-row{
              margin-bottom:15px;
              width: 30%;
              }
              }
              @media(min-width: 600px) and (max-width: 900px)  {
              .my-table, .my-row{
                display: block;
                width: 86%;
              }
              .my-row,th{
              margin-bottom:15px;
               width: 48%;
              }
              .myd{
                width:48%;
              }
              }
              @media(min-width: 900px)and (max-width: 1199px)  {
              .my-table , .my-row{
                 display: block;
                 width: 100%;
              }
              .my-row,th{
                 margin-bottom:15px;
                 width: 70%;
              }
              .myd{
              width:70%;
              
              }
              }
            if cat.name == 'APIs'
              div(style="max-height: 30vh; overflow: auto")
                table.my-table
                      tr.my-row
                        th APIs
                        th Tags
                        th Groups 
                      each entry in cat.entries
                        tr.my-row
                          td.myd 
                            a(href=entry.url)= entry.title
                          td.myd 
                            a(href=entry.url)= entry.tags
                          td.myd
                            a(href=entry.url style="text-transform:capitalize; font-style: nomral;")= entry.requiredGroup
                            
            else if cat.name =='Portal Content'
              .panel-body
                ul
                  each entry in cat.entries
                    if (entry.title !== 'API Usage Information' && entry.title !==  'Terms and Conditions')
                      li
                        a(href=entry.url)= entry.title
  
                      
    else if (toc) && !authUser || !authUser.admin  
      each cat, name in toc
        .panel.panel-default
          .panel-heading
            h4.panel-title= cat.name
          .panel-body
            div(style="max-height: 20vh; overflow: auto")
              ul
                each entry in cat.entries
                  if (entry.title !== 'API Usage Information' && entry.title !==  'Terms and Conditions' && entry.title !==  'API Status Dashboard')
                      li
                        a(href=entry.url)= entry.title